body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tabs {
    margin-bottom: 20px;
}

.tab-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #0056b3;
}

.tabcontent {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.accordion-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
    text-align: left;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.accordion-button:hover {
    background-color: #0056b3;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


.caixa {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    max-width: 100%;
}

.caixa h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.caixa label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.caixa input[type="text"],
.caixa textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.caixa button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.caixa button:hover {
    background-color: #0056b3;
}
